[workspace]
resolver="2"
default-members = ["odilia", "odilia-notify"]
members = [
  "cache",
  "common",
  "input",
  "odilia",
  "odilia-notify",
]

[profile.release]
lto = true
codegen-units = 1 # Reduce codegen units for better optimizations (from swhkd)

[workspace.metadata.release]
allow-branch = ["main"]
# By default, crates will not be released or published
# These are overridden on a crate-by-crate basis
release = false
publish = false
shared-version = true
consolidate-commits = true
consolidate-pushes = true
pre-release-commit-message = "Release Odilia version {{version}}"
post-release-commit-message = "Post release version bump: version {{next_version}}"
tag-message = "{{crate_name}} version {{version}}"
dev-version-ext = "dev"
dev-version = true
pre-release-hook = ["cargo", "fmt"]
dependent-version = "upgrade"

[workspace.dependencies]
atspi = { version = "0.22.0", default-features = false, features = ["tokio"] }
atspi-proxies = { version = "0.6.0", default-features = false, features = ["tokio"] }
atspi-common = { version = "0.6.0", default-features = false, features = ["tokio"] }
atspi-connection = { version = "0.6.0", default-features = false, features = ["tokio"] }
odilia-common = { version = "0.3.0", path = "./common" }
odilia-cache = { version = "0.3.0", path = "./cache" }
eyre = "0.6.8"
nix = "0.26.2"
serde_json = "1.0.89"
serde = { version = "1.0.194", features = ["derive"] }
ssip-client-async = { default-features = false, features = ["tokio"], version = "0.12.0" }
tokio = { version = "^1.22.0", default-features = false, features = ["sync", "macros", "rt", "signal", "tracing"] }
tokio-util = { version = "0.7.10", features = ["rt"] }
tracing = "^0.1.37"
tracing-log = "^0.1.3"
tracing-subscriber = { version = "0.3.16", default-features = false, features = ["env-filter", "parking_lot"] }
tracing-error = "^0.2.0"
tracing-tree = "^0.2.2"
zbus = { version = "4.2", features = ["tokio"] }
serde_plain = "1.0.1"

