[package]
name = "odilia"
version = "0.1.4"
authors = [
  "Michael Connor Buchan <mikey@blindcomputing.org>",
  "Tait Hoyem <tait@tait.tech>",
  "Alberto Tirla <albertotirla@gmail.com>",
]
description = "Building a better screen reader for the Linux desktop, one step at a time."
license = "GPL-3.0-only" # Not gpl-3-or-later
readme = "README.md"
repository = "https://github.com/odilia-app/odilia"
homepage = "https://odilia.app"
keywords = ["screen-reader", "accessibility", "a11y", "tts", "linux"]
categories = ["accessibility"]
edition = "2021"
rust-version = "1.81"
publish = true

[package.metadata.release]
# The root crate should be released
release = true
# Update the CHANGELOG
pre-release-replacements = [
  { file = "CHANGELOG.md", search = "Unreleased", replace = "{{version}}" },
  { file = "CHANGELOG.md", search = "\\.\\.\\.HEAD", replace = "...{{tag_name}}", exactly = 1 },
  { file = "CHANGELOG.md", search = "ReleaseDate", replace = "{{date}}" },
  { file = "CHANGELOG.md", search = "<!-- next-header -->", replace = "<!-- next-header -->\n\n## [Unreleased] - ReleaseDate", exactly = 1 },
  { file = "CHANGELOG.md", search = "<!-- next-url -->", replace = "<!-- next-url -->\n[Unreleased]: https://github.com/odilia-app/odilia/compare/{{tag_name}}...HEAD", exactly = 1 },
]

[dependencies]
atspi.workspace = true
atspi-proxies.workspace = true
atspi-common.workspace = true
atspi-connection.workspace = true
circular-queue = "^0.2.6"
eyre.workspace = true
futures.workspace = true
odilia-common.workspace = true
odilia-cache.workspace = true
odilia-input = { path = "../input", version = "0.0.3" }
odilia-tts = { path = "../tts", version = "0.1.4" }
odilia-tower = { path = "../odilia-tower/", version = "0.1.0" }
serde_json.workspace = true
serde_plain.workspace = true
ssip-client-async = { version = "0.14.0", features = ["tokio"] }
tokio = { workspace = true, features = ["rt-multi-thread"] }
tower.workspace = true
tracing-error.workspace = true
tracing-log.workspace = true
tracing-subscriber.workspace = true
tracing-tree.workspace = true
tracing.workspace = true
xdg.workspace=true
zbus.workspace = true
odilia-notify = { version = "0.1.0", path = "../odilia-notify" }
clap = { version = "4.5.1", features = ["derive"] }
tokio-util.workspace=true
toml = "0.8.11"
figment = { version = "0.10.14", features = ["env", "toml"] }
tracing-journald = "0.3.0"
ssip = "0.2.0"
futures-lite = "2.3.0"
pin-project.workspace = true
static_assertions = "1.1.0"
futures-concurrency.workspace = true
console-subscriber = { version = "0.3.0", optional = true }
refinement = "0.5.0"
derived-deref = "2.1.0"
tower-iter = { version = "0.1", path = "../tower-iter/" }

[dev-dependencies]
lazy_static = "1.4.0"
tokio-test = "0.4.2"

[features]
tokio-console = ["dep:console-subscriber"]
