[package]
name = "odilia"
version = "0.1.0"
authors = ["Michael Connor Buchan <mikey@blindcomputing.org>", "Tait Hoyem <tait@tait.tech>", "Alberto Tirla <albertotirla@gmail.com>"]
description = "Building a better screen reader for the Linux desktop, one step at a time."
license = "GPL-3.0-only" # Not gpl-3-or-later
readme = "README.md"
repository = "https://github.com/odilia-app/odilia"
homepage = "https://odilia.app"
keywords = ["screen-reader", "accessibility", "a11y", "tts", "linux"]
categories = ["accessibility"]
edition = "2021"
publish = true

[package.metadata.release]
# The root crate should be released
release = true
# Update the CHANGELOG
pre-release-replacements = [
  {file="CHANGELOG.md", search="Unreleased", replace="{{version}}"},
  {file="CHANGELOG.md", search="\\.\\.\\.HEAD", replace="...{{tag_name}}", exactly=1},
  {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}"},
  {file="CHANGELOG.md", search="<!-- next-header -->", replace="<!-- next-header -->\n\n## [Unreleased] - ReleaseDate", exactly=1},
  {file="CHANGELOG.md", search="<!-- next-url -->", replace="<!-- next-url -->\n[Unreleased]: https://github.com/odilia-app/odilia/compare/{{tag_name}}...HEAD", exactly=1},
]

[dependencies]
atspi.workspace = true
circular-queue = "^0.2.6"
eyre.workspace = true
futures = { version = "^0.3.25", default-features = false }
odilia-common.workspace = true
odilia-cache.workspace = true
odilia-input = { path = "../input", version = "0.0.2" }
odilia-tts = { path = "../tts", version = "0.1.3" }
serde_json.workspace = true
serde_plain.workspace = true
ssip-client-async.workspace = true
tokio.workspace = true
tracing-error.workspace = true
tracing-log.workspace = true
tracing-subscriber.workspace = true
tracing-tree.workspace = true
tracing.workspace = true
xdg = "2.4.1"
zbus.workspace = true

[dev-dependencies]
lazy_static = "1.4.0"
tokio-test = "0.4.2"

[features]

#[build-dependencies]
#clap = { version = "3.1.8", features = ["derive"] }
#clap_complete = "3.1.1"
